@{
    ViewData["Title"] = "Home Page";
}
<div id="parallax-world-of-ugg">

    <section>
        <div class="parallax-three">
            <h2>WELCOME TO PT. LUCKY HOKI SENTOSA</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p><span class="first-character atw">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum turpis ac justo accumsan, nec feugiat orci dapibus. Fusce venenatis viverra eros, vitae tincidunt ante fermentum at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus auctor ex sed eros ultricies, in ultrices justo ultrices. Aliquam euismod imperdiet justo, non laoreet elit congue vel. Suspendisse potenti. Vivamus vitae lorem tempor, vulputate ligula et, fringilla libero. In eu urna ac elit viverra egestas. Integer vitae felis eu ex luctus placerat vitae nec turpis. Sed varius, felis at tempor ornare, odio nulla convallis dolor, in tincidunt turpis sapien in ipsum.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Maecenas tincidunt porta ligula, nec congue nunc fermentum ut. Aliquam erat volutpat. Integer ut ipsum vel massa euismod varius. Cras varius, sem vel efficitur porttitor, tortor purus interdum turpis, nec pellentesque tellus justo nec tellus. Integer commodo semper urna, vel vehicula mauris dignissim in. Aliquam erat volutpat. Proin sit amet erat in lorem consequat pulvinar. Vivamus ultricies luctus urna, sit amet lacinia libero iaculis at. Quisque vel odio vel odio imperdiet finibus. Phasellus nec enim in elit varius laoreet. Aliquam erat volutpat. Nam mattis leo sed metus condimentum, vel placerat justo auctor. Duis et nisi condimentum, mattis dolor sit amet, tristique erat.</p>
        </div>
    </section>


</div>