@model EmployeeList_MVC.Models.JobTitle
@{
    Layout = null;
}


<div>
    <h3>Delete Job Title</h3>

    <p>
        Are you sure you want to delete the employee data of
        <span style="font-weight:bold"> @Html.DisplayFor(model => model.JobTitleName)?</span>
    </p>

    <hr />

    <form asp-action="Delete" asp-route-id="@Model.ID" class="d-inline">
        <input type="hidden" asp-for="@Model.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
 
</div>
